name: .NET Core

# on:
#   push:
#     branches: [ master ]
#   pull_request:
#     branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal
    - name: Publish NuGet
        uses: rohith/publish-nuget@v2.3.0
        with:
          # Filepath of the project to be packaged, relative to root of repository
          PROJECT_FILE_PATH: EConfig/EConfig.csproj
          # NuGet package id to check against version changes, defaults to project name
          PACKAGE_NAME: econfig # optional
          # Filepath containing version info, relative to root of repository
          VERSION_FILE_PATH: # optional
          # Regex pattern to extract version info in a capturing group
          VERSION_REGEX: # optional, default is <Version>(.*)<\/Version>
          # Static version, useful for external providers like Nerdbank.GitVersioning
          VERSION_STATIC: # optional
          # Flag to enable / disable git tagging
          TAG_COMMIT: # optional, default is true
          # Format of the git tag, `[*]` gets replaced with version
          TAG_FORMAT: # optional, default is v*
          # API key for the NuGet feed
          NUGET_KEY: # optional

